ul {
    list-style: none;
}

img {
    display: block;
}

/* 顶部导航 */
.topnav {
    height: 40px;
    background-color: #fff;
    /* width: 980px;
      padding: 0 5px;
      margin: 0 auto;
      position: relative;
      line-height: 40px; */
}


/* 版心 因为版心公共样式 所以放在common.css */
/* 顶部导航左边*/
.left-one {
    float: left;
    width: 120px;
    height: 40px;
    background: url('../img/logo.png');

}

.left-two {
    float: left;
    height: 40px;
}

/* 1.1.2 顶部导航右边  */
.topnav-right h3 {
    float: left;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
}

.right-one {
    color: #464646;
    margin-left: 345px;
    margin-right: 20px;
}

.right-two {
    color: #464646;
}

/* 背景 */
.caiwenji {
    width: 100%;
    height: 1440px;
    background-image: url(../img/caiwenji.jpg);
    background-repeat: no-repeat;
    background-color: rgba(red, green, blue, 0.5);

}

.topnavapp {
    background-color: rgba(0, 0, 0, 0.8);
}

.topnavapp-img {
    margin-top: 16px;
    width: 200px;
    height: 54px;
    float: left;
}

.topnavapp-lj {
    float: left;
    /* width: 730px; */
    height: 84px;

}

.topnavapp-lj>a {
    float: left;
    color: #c9c9dd;
    font-size: 18px;
    /* padding: 20px 0; */
    margin-left: 11px;
    /* margin-left: 38px; */
    width: 110px;
    /* height: 64px; */
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
}


.topnavapp:hover .topnavapp-lj-two {
    height: 294px;
    transition: all 0.4s;
}

.topnavapp-lj>a:hover {
    color: #d9ad50;
    border-bottom: 3px solid #d9ad50;
}


.topnavapp-lj-two {
    position: absolute;
    top: 84px;
    left: -352px;
    width: 1920px;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.topnavapp-lj-two li {
    float: left;
}




.topnavapp-lj-two li a {
    display: block;
    padding: 18px 15px;
    color: #c9c9dd;
}

.topnavapp-lj-two li a:hover {
    color: #d9ad50;
}

.topnavapp-lj span {
    font-size: 8px;
}

.topnavapp-dl {

    /* padding: 20px 0; */
    margin-top: 24px;
}

.topnavapp-dl-left {
    float: left;
    border: 1px solid #d9ad50;
    border-radius: 42px;
}

.topnavapp-dl-right {
    float: right;

}

.topnavapp-dl-right a {

    display: block;
    font-size: 18px;
    color: #fff;
    margin-top: 5px;
}


.topnavapp-dl-right span {
    color: #858792;
    font-size: 12px;
    /* line-height: 30px; */
    display: block;
    margin-top: -7px;
}


.mainnews {
    padding-top: 450px;
}

/* 3. 周免英雄和用户登录 */
.content {
    position: relative;
    margin: 465px auto 0;
    width: 1200px;
    height: 115px;
    background: url(../img/content.png) no-repeat;
}

.zhoumian {
    float: left;
    width: 732px;
    padding: 8px 20px 0;
    color: #a6afbc;
    font: 14px/1.5 "Microsoft YaHei", Tahoma, "simsun", sans-serif;
}

.zhoumian p {
    display: block;
}

.zhoumian ul {
    margin-top: 8px;
}

.zhoumian li {
    float: left;
    /* display: inline; */
    position: relative;
    margin-right: 10px;
    width: 69px;
    /* overflow: hidden; */
}

.zhoumian li a {
    width: 224px;
    height: 69px;
    display: block;
    position: relative;
}

.zhoumian img {
    display: block;
    /* width: 69px; */
    height: 69px;
    border-radius: 5px;
}

/* .zhoumian img:nth-child(2n) {
    display: block;
    width: 224px;
    height: 69px;
} */
.zhoumian img:nth-last-child() {
    display: block;
    width: 224px;
    height: 69px;
}

.moreyx {
    display: block;
    position: absolute;
    top: 40px;
    right: 455px;
    line-height: 15px;
    /* padding: 30px 10px 10px; */
    color: #626a7a;
}

.moreyx:hover {
    color: #2C88E2;
}

.denglu {
    position: relative;
    float: left;
    width: 408px;
    padding: 12px 10px;
    /* background: url(../img/cao.png) no-repeat; */
}

.denglu .dengluone {
    position: absolute;
    display: block;
    top: -5px;
    left: 10px;
    width: 106px;
    height: 120px;
    /* background-position: -110px -174px;
    background: url(../img/cao.png) no-repeat; */
}

.denglu span {
    display: block;
    position: absolute;
    top: 81px;
    left: 68px;
    width: 21px;
    height: 20px;
    padding-left: 3px;
    background-position: -331px -105px;
    color: #ffffff;
    background: url(../img/cao.png) no-repeat;
    /* background: url(../img/spr.png) no-repeat; */
}

.denglu img {
    display: block;
    width: 75px;
    height: 75px;
    margin: 24px 0 0 15px;
    border-radius: 10px;
    /* background-position: -110px -174px;
    background: url(../img/cao.png) no-repeat; */
}

.denglutwo {
    float: left;
    width: 300px;
    margin-left: 115px;
    margin-top: 32px;
    color: #b3bbc5;
}

.denglutwo p {
    float: left;
    display: block;
    color: #b3bbc5;
    font-size: 14px;
}

.denglutwo a {
    float: left;
    color: #8ea0b0;
    margin-left: 10px;
    font-size: 14px;
}


/* 4. 召唤师技能 */
.jncontent {
    width: 100%;
    min-width: 1200px;
    min-height: 620px;
    height: auto;
    margin: 0 auto;
    background: url(../img/zoujin.jpg) no-repeat center top;
}

.new-content {
    width: 1198px;
    margin: 0 auto;
    padding-top: 40px;
    border: 1px solid #DBDBDB;
}

.con-pos {
    width: 100%;
    margin-bottom: 40px;
    height: 20px;
    line-height: 20px;
    color: #464547;
    font-size: 16px;
}

.con-pos i {
    float: left;
    background: url(../img/jingling.png) no-repeat;
    background-position: 0 -4px;
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 9px;

}

.con-pos a {
    text-decoration: underline;
}

.con-pos a,
.conpos span {
    margin-right: 8px;
}

.new-tab {
    width: 1198px;
    position: relative;
    height: 50px;
    background: #3D4253;
}

.new-tab ul li {
    width: 398px;
    height: 45px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    float: left;
    padding-top: 5px;
    line-height: 45px;
}

.new-tab ul li a {
    color: #B4BAD0;
}

.newcurrent {
    padding-top: 0px !important;
    height: 45px !important;
    border-top: 5px solid #3589DD;
    background: #fff;
    font-weight: bold;
}

.in-content {
    position: relative;
    background: #ffffff;
    padding: 0 60px 60px;
}

.new-title {
    position: relative;
    height: 30px;
    padding: 75px 0 30px;
}


.new-title .fl a {
    float: left;
}

.new-title .fl span {
    color: #616161;
    line-height: 26px;
    font-weight: bold;
    font-size: 22px;
}

.dest {
    position: relative;
    width: 1075px;
    height: 360px;
    overflow: hidden;
}

.dest img {
    float: left;
    width: 522px;
    height: 330px;
    border-radius: 5px;
    border: 3px solid #dcdcdc;
}

.textarea {
    float: right;
    display: block;
    position: relative;
    width: 512px;
    height: 336px;
}

.textarea .p1 {
    font-size: 30px;
    color: #333333;
    margin-bottom: 20px;

}

.dext-til {
    font-size: 16px;
    color: #909090;
    line-height: 30px;
}

.gamestese {
    position: relative;
    margin: 0 auto;
    width: 998px;
    height: 40px;
    line-height: 40px;
    margin-top: 65px;
    margin-bottom: 35px;
}

.setp-border {
    display: inline-block;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    background: #EAEAEA;
    height: 4px;
    width: 998px;
}

.setp1 {
    left: 0;
}

.setp2 {
    left: 23%;
}

.setp3 {
    left: 48%;
}

.setp4 {
    left: 73%;
}

.setp5 {
    left: 98%;
}


.setp1 {
    top: 0;
    position: absolute;
    background: url(../img/tese1.png) no-repeat;
    background-position: 0 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.setp2,
.setp3,
.setp4,
.setp5 {

    top: 0;
    position: absolute;
    background: url(../img/tese1.png) no-repeat;
    background-position: -44px 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}



.txt1 {
    left: -2%;

}

.txt2 {
    left: 21%;
}

.txt3 {
    left: 46%;
}

.txt4 {
    left: 71%;
}

.txt5 {
    left: 95%;
    width: 75px;
    height: 20px;
}

.txt1 {
    position: absolute;
    top: -52px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    padding: 8px 9px;
    border: 0;
    background: #2784E0;
    color: #fff;
}

.txt2,
.txt3,
.txt4,
.txt5 {
    position: absolute;
    top: -52px;
    border-radius: 5px;
    padding: 8px 9px;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    background: #FFFFFF;
    color: #A6A7A7;
    border: 2px solid #C1C1C1;
    padding: 6px 7px;
}

.dest1 {
    position: relative;
    width: 1075px;
    height: 360px;
    overflow: hidden;
}

.dest1 img {
    float: right;
    width: 522px;
    height: 330px;
    border-radius: 5px;
    border: 3px solid #dcdcdc;
}

.textarea1 {
    float: left;
    display: block;
    position: relative;
    width: 512px;
    height: 336px;
}

.textarea1 .p1 {
    font-size: 30px;
    color: #333333;
    margin-bottom: 20px;

}

.dext1-til {
    font-size: 16px;
    color: #909090;
    line-height: 30px;
}



/* 5. 版权 */
.copyright {
    position: relative;
    z-index: 2;
    height: 282px;
    background: url(../img/buttom.jpg) no-repeat center 0;
}

.copyright {
    padding-top: 80px;
}

.copyright-top {
    display: block;
    float: none;
    height: 66px;
    padding-bottom: 10px;
    margin-bottom: 32px;
    border-bottom: 2px solid #d4d4d4;
}

.copyright-top-left {
    float: left;
    width: 285px;
    height: 64px;
    margin: 0;
    background: url(../img/buttom-logo.png) no-repeat;
}

.copyright-top-right {
    float: left;
    width: 70px;
    height: 64px;
    margin: 0;
    background: url(../img/buttom-logo.png) no-repeat -285px 0;
}

.copyright-buttom-left {
    float: left;
    width: 508px;
    font-size: 12px;
    color: #666;
}

.buttom-one {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.buttom-two {
    margin-top: 10px;
    letter-spacing: 1px;
}



.copyright-buttom-left em {
    font-style: normal;
    margin-right: 12px;
    color: #6d6d6d;
}

.copyright-buttom-right {
    float: right;
    width: 560px;
    height: 100%;
    margin-top: 0;
}

.copyright-buttom-right>p {
    margin-top: 5px;
}

.copyright-buttom-right>p:first-child {
    margin-top: 20px;
}

.copyright-buttom-right>div {
    height: 100%;

    margin-top: 10px;
}

.copyright-buttom-right>div>p:first-child {
    float: left;
}

.copyright-buttom-right>div>p:nth-child(2) {
    float: right;
}